# Ignore node_modules folder
node_modules/

# Ignore environment variable file
.env

js/
index.js
# Ignore log files
logs/
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore compiled files
dist/
build/

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.swp
