@font-face {
    font-family: sf;
    src: url(/fonts/SFNSText-Medium.otf);
}

@font-face {
    font-family: sfB;
    src: url(/fonts/SFNSDisplay-Black.otf);
}

* {
    font-family: sf;
    margin: 0;
    color: rgb(217, 217, 217);
    transition: all .2s ease;
}

#initialPage {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #20202a;
}

h1 {
    font-family: sfB;
    font-size: 80px;
    font-weight: 200;
}


h2 {
    font-family: sfB;
    font-size: 30px;
    font-weight: 100;
}

h3 {
    font-family: sf;
    font-size: 25px;
    /* font-weight: 400; */
}

p {
    font-family: sf;
    font-size: 21px;
}

hr {
    border: #34343E 1px solid;
    width: auto;
    margin: 5px;
}

.p-small {
    font-size: 14px;
}

.button {
    background-color: #20202a;
    height: 35px;
    width: 100px;
    border: #34343E 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 7px;
    /* color: blue; */
}

.button {
    border: #34343E 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 7px;
    /* color: blue; */
}

body {
    background-color: #20202a;
}


#informationAndLinks {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #20202a;
    box-shadow: 0 45px 85px rgba(0, 0, 0, 0.251);
    border-radius: 20px;
    border: #34343E 1px solid;
    margin: 20px;
    height: 90%;
    width: 30%;
}

    #img-profile_picture {
        border-radius: 50%;
        width: fit-content;
        max-width: 90%;
        margin-top: 20px;
    }

    #social-links {
        background-color: #20202a;
        box-shadow: 0 20px 45px rgba(0, 0, 0, 0.251);
        border-radius: 10px;
        padding: 10px;
        border: #34343E 1px solid;
    }

    #social-links:hover {
        box-shadow: 0 20px 45px rgba(0, 0, 255, 0.156);
    }

    .social-link {
        margin: 0 5px 0 5px;
        text-decoration: none;
        transition: all .3s ease;
    }

    .social-link:hover svg {
        margin: 0 10px 0 10px;
        transform: scale(1.3);
    }


#main {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 90%;
    margin: 20px;
    justify-content: space-between;
}

    #stack-text {
        font-size: 6vw;
    }

    #aboutText {
        height: 40%;
        /* background-color: floralwhite; */
    }
    id
    #projects {
        display: flex;
        justify-content: space-between;
        height: 60%;
        width: 95%;
        flex-direction: column;
        /* background-color: blueviolet; */
    }

        #projects-div {
            overflow-x: auto;
            overflow-y: hidden;
            border: #34343E 1px solid;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.251);
            border-radius: 20px;
            margin-top: 10px;
            white-space: nowrap;
            width: 100%;
        }

        .project {
            display: inline-flex;
            justify-content: space-around;
            align-items: center;
            background-color: #20202a;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.251);
            border-radius: 15px;
            border: #34343E 1px solid;
            height: 300px;
            width: 230px;
            margin: 14px;
            /* overflow: hidden; */
            flex-direction: column;
            text-align: start;
        }   
            .img-project {
                width: 96%;
                height: 47%;
                border-radius: 12px;
                box-shadow: 0 15px 20px rgba(0, 0, 0, 0.251);
                object-fit: cover;
            }

            .info-project {
                display: flex;
                flex-direction: column;
                height: 47%;
                width: 95%;
                justify-content: space-between;
            }

                .project-statistics {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 3px;
                }

                    .project-statistics div {
                        display: flex;
                        flex-direction: row;
                    }

                        .project-statistics div span{
                            margin: 0 5px 0 5px;
                        }

                            .project-statistics div span svg {
                                fill: rgb(217, 217, 217);
                                margin: 0 1px 0 1px;
                            }

                    span {
                        display: flex;
                        flex-direction: row;
                    }

                    .project-statistics p {
                        font-size: 18px;
                    }

                .info-project p {
                    white-space: normal;
                    text-align: start;
                }

@media (max-width: 950px) {


    #initialPage {
        height: 200vh;
        width: 100vw;
        flex-direction: column;
    }

    #informationAndLinks {
        margin: 5vh 10vw 5vh 10vw;
        height: 90vh;
        width: 90vw;
    }

        #img-profile_picture {
            width: fit-content;
            max-width: 80%;
            margin-top: 20px;
            border-radius: 20px;
            object-fit: cover;
            object-position: center;
        }

    #main {
        width: 90vw;
        height: 100vh;
    }

    #stack-text {
        font-size: 9vw;
    }


}

@media (max-width: 950px) {

        #img-profile_picture {
            border-radius: 10px;
            width: 80%;
            height: 50%;
            margin-top: 20px;
        }

}